/* common */

.icon {
  border-radius: 50%;
}

.IconImg>img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.IconImg {
  display: flex;
}

h1 {
  font-size: 24px;
  padding-left: 16px;
  border-left: 16px solid rgba(1, 1, 190, .9);
  padding-bottom: 8px;
  border-bottom: 1px solid gray;
}

ul a {
  text-decoration: none;
}

a {
  color: inherit;
}

/* body */
body {
  margin: 0;
}

h6 {
  margin: 0;
}

.main img {
  width:100%
}

section {
  padding: 0 4px;
}

.products {
  padding: 0;
}

.products ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.products li {
  /* width: 50%; */
  /* outline: 2px solid blue; */
  width: calc((100% - 16px) / 2);
}

.products li img {
  width: 100%;
}

.products li a:hover {
  display: block;
  opacity: .5;;
}

.products .more {
  display: flex;
  width: 70%;
  line-height: 48px;
  border: 2px solid black;
  text-align: center;
  margin: 32px auto 0;
  text-decoration: none;
}

.products img {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity .3s,transform .3s;
}

.products img.fuwa {
  opacity: 1;
  transform: translateY(0);
}



.container {
  display: block;
  /* outline: 2px solid red; */
}

.container h2 {
  font-weight: normal;
  margin: 0;
}

.container ul {
  list-style-type: none;
}


.text p{
  line-height: 1.4;
  margin: 0;
}

.profile p{
  line-height: 1.4;
  margin: 0;
}

.profile p + p{
  padding-top: 4px;
}

.animate {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity .3s, transform .3s;
}

.animate.appear {
  opacity: 1;
  transform: none;
}





/* header */
/* footer */
header {
  /* background-color: rgba(14, 13, 13, 0.562); */
  background-color: rgb(140, 140, 140);
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  top: 0;
  transition: background-color .5s;
}

header.scroll {
  background-color: rgba(14, 13, 13, 0.562);
  /* color: red; */
}

#closeIcon {
  color: white;
}

footer {
  background-color: rgba(14, 13, 13, 0.562);
  width: 100%;
  height: 60px;
  display: flex;
}

#twitter i {
  font-size: 40px;
  cursor: pointer;
}

#twitter:hover {
  opacity: .8;
}


/* MediaCommon */


.SmartPhone-Menu {
  margin-left: auto;
}

.SmartPhone-Menu #MenuIcon{
  font-size: 48px;
  line-height: 64px;
  cursor: pointer;
  padding-right: 8px;
}

.SmartPhone-Menu #MenuIcon.hide {
  display: none;
}

.text {
  padding-top: 60px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .75);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s;
}

.overlay ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.overlay li {
  margin-top: 16px;
  opacity: 0;
  transform: translateY(20px);
  transition: transform .3s, opacity .3s;
}

.overlay a {
  color: white;
  font: bold;
}

.overlay #closeIcon  {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 48px;
  cursor: pointer;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay.show li{
  opacity: 1;
  transform: none;
}

.overlay.show li:nth-child(1) {
  transition-delay: .1s;
}
.overlay.show li:nth-child(2) {
  transition-delay: .2s;
}
.overlay.show li:nth-child(3) {
  transition-delay: .3s;
}
.overlay.show li:nth-child(4) {
  transition-delay: .4s;
}
.overlay.show li:nth-child(5) {
  transition-delay: .5s;
}

.pc-menu {
  display: none;
}

#up {
  position: fixed;
  right: 16px;
  bottom: 16px;
  opacity: 0;
  transition: opacity .3s;
}

#up i {
  font-size: 32px;
}

#up.apper {
  opacity: 1;
}

.SubMenu .color {
  background-color: white;
}

.SubMenu .back-color {
  padding: 30px 40px;
  background-color: RGB(240, 255, 255);
}


/* PC screen*/
@media (min-width: 960px) {

  .text {
    display: flex;
  }
  
  .text selection {
    /* 可変幅にする */
    flex: 1;
    padding-top: 60px;
    
  }
  
  .SubMenu .color {
    width: 360px;
    padding-top: 60px;
    background-color: white;
  }

  .SubMenu .back-color {
    padding: 10px 30px;
    background-color: RGB(240, 255, 255);
  }
  
  .pc-menu {
    display: block;
    margin-left: auto;
  }

  .pc-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
 
  .pc-menu a {
    display: block;
    width: 80px;
    text-align: center;
    line-height: 60px;
  }

  .pc-menu a:hover {
    background-color: rgba(223, 223, 223, 0.7);
    opacity: .5;
    transition: opacity 1s;
  }

  .SmartPhone-Menu {
    display: none;
  }

}